<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>


    

    <div  id="telalogin">
        <h1> Tela de Login </h1>

        <label for="Users">User</label>
        <input  id="Users" type="text"  placeholder=" digite seu Usuario ">

        <label for="">Senha</label>
        <input id="senha" type="password"   placeholder="Digite sua Senha ">

        <button  id="botaos">Entrar</button>
    </div>
    
</body>
</html>